<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRSToBase64.Pdf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SSRSToBase64.Pdf.Properties.Settings>
            <setting name="SSRSToBase64_Pdf_psldbservervm_ReportExecutionService"
                serializeAs="String">
                <value>http://psl-dbserver-vm:80/ReportServer_SSRS/ReportExecution2005.asmx</value>
            </setting>
        </SSRSToBase64.Pdf.Properties.Settings>
    </applicationSettings>
</configuration>